*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,body{
  height: 100%;
}

.container{
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container .jogos {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.container .jogos> div {
  border: 1px solid black;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .jogos  .title{
  display: flex;
  justify-content: center;
  border-bottom:1px solid black;
  width: 100%;
  padding: 1rem;
}


.container .jogos .mega .title{
background-color: #2cb77b;
} 

.container .jogos .quina .title{
  background-color: #281f4b;
  }

.container .jogos .lotofacil .title{
  background-color: #a434ad;
  } 

.container .jogos .numeros{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

.jogos button{
  border: none;
  padding: 1rem;
  border-radius: 5px;
  background-color: lightblue;
}




